{% extends 'index/base.html' %}
{% load humanize %}
{% load static %}
    {% block content %}
<div class="container-fluid">
		<div class="row fh5co-post-entry">
            {% for item in news %}
			<article class="col-lg-3 col-md-3 col-sm-3  col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="/news/{{ item.id }}">
                        {% if item.photo%}
                        <img src="{{ item.photo.url }}" alt="Image" class="img-responsive">
                        {% else %}
                         <img src="{%  static 'index/images/pic_1.jpg' %}" alt="Image" class="img-responsive">
                        {% endif %}
                    </a>
				</figure>
				<span class="fh5co-meta"><a href="/news/">{{ item.cat.name }}</a></span>
				<h2 class="fh5co-article-title"><a href="/news/">{{ item.title }}</a></h2>
				<span class="fh5co-meta fh5co-date">{{ item.created_on | date:"M jS, Y" }}</span>
			</article>
	        {% endfor %}


		</div>
	</div>
   {% endblock %}